* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section main {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
section main .products {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
section main .products .about {
  text-align: center;
  width: 40%;
  padding: 150px 20px;
}
section main .products .about h5 {
  color: green;
  margin-bottom: 20px;
  font-size: 25px;
}
section main .products .about h1 {
  color: rgb(73, 1, 1);
  font-size: 33px;
  line-height: 1;
}
section main .products .about p {
  margin: 20px 0;
  opacity: 0.8;
}
section main .products .about a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
section main .products .gallery {
  display: flex;
  margin: 0 auto;
  width: 60%;
  gap: 20px;
}
section main .products .gallery .cards {
  margin-top: 50px;
}
section main .products .gallery .cards .image img {
  width: 100%;
}
section main .products .gallery .cards .cards--info {
  text-align: center;
}
section main .products .gallery .cards .cards--info h6 {
  font-size: 18px;
  padding: 10px o;
}
section main .products .gallery .cards .cards--info p {
  font-size: 12px;
}
section main .products .gallery .cards .cards--info .price {
  font-size: 14px;
  padding: 5px 0;
}
section main .products .gallery .cards .cards--info .colors {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}
section main .products .gallery .cards .cards--info .colors .blue {
  margin-left: 40px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(17, 203, 216);
}
section main .products .gallery .cards .cards--info .colors .green {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: green;
}
section main .products .gallery .cards .cards--info .colors .yellow {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(243, 146, 19);
}
section main .products .gallery .cards .cards--info .colors .black {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(43, 6, 4);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section main {
    display: flex;
    margin: 0 auto;
    width: 80%;
  }
  section main .products {
    width: 100%;
    margin: 0 auto;
  }
  section main .products .about {
    text-align: inherit;
    width: 100%;
    padding-top: 20px;
  }
  section main .products .about h5 {
    color: green;
    margin-bottom: 20px;
    font-size: 25px;
  }
  section main .products .about h1 {
    color: rgb(73, 1, 1);
    font-size: 33px;
    line-height: 1;
  }
  section main .products .about p {
    margin: 20px 0;
    opacity: 0.8;
  }
  section main .products .about a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  section main .products .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
  }
  section main .products .gallery .cards {
    margin-top: 50px;
  }
  section main .products .gallery .cards .image img {
    width: 100%;
  }
  section main .products .gallery .cards .cards--info {
    text-align: center;
  }
  section main .products .gallery .cards .cards--info h6 {
    font-size: 25px;
    padding: 10px o;
  }
  section main .products .gallery .cards .cards--info p {
    font-size: 20px;
  }
  section main .products .gallery .cards .cards--info .price {
    font-size: 20px;
    padding: 5px 0;
  }
  section main .products .gallery .cards .cards--info .colors {
    display: flex;
    margin: 0 auto;
    gap: 10px;
  }
  section main .products .gallery .cards .cards--info .colors .blue {
    margin-left: 40px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(17, 203, 216);
  }
  section main .products .gallery .cards .cards--info .colors .green {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
  }
  section main .products .gallery .cards .cards--info .colors .yellow {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(243, 146, 19);
  }
  section main .products .gallery .cards .cards--info .colors .black {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(43, 6, 4);
  }
}
@media only screen and (min-width: 600px) {
  section main {
    display: flex;
    margin: 0 auto;
    width: 80%;
  }
  section main .products {
    width: 100%;
    margin: 0 auto;
  }
  section main .products .about {
    text-align: inherit;
    width: 100%;
    padding-top: 20px;
  }
  section main .products .about h5 {
    color: green;
    margin-bottom: 20px;
    font-size: 25px;
  }
  section main .products .about h1 {
    color: rgb(73, 1, 1);
    font-size: 33px;
    line-height: 1;
  }
  section main .products .about p {
    margin: 20px 0;
    opacity: 0.8;
  }
  section main .products .about a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  section main .products .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
  }
  section main .products .gallery .cards {
    margin-top: 50px;
  }
  section main .products .gallery .cards .image img {
    width: 100%;
  }
  section main .products .gallery .cards .cards--info {
    text-align: center;
  }
  section main .products .gallery .cards .cards--info h6 {
    font-size: 25px;
    padding: 10px o;
  }
  section main .products .gallery .cards .cards--info p {
    font-size: 20px;
  }
  section main .products .gallery .cards .cards--info .price {
    font-size: 20px;
    padding: 5px 0;
  }
  section main .products .gallery .cards .cards--info .colors {
    display: flex;
    margin: 0 auto;
    gap: 10px;
  }
  section main .products .gallery .cards .cards--info .colors .blue {
    margin-left: 40px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(17, 203, 216);
  }
  section main .products .gallery .cards .cards--info .colors .green {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
  }
  section main .products .gallery .cards .cards--info .colors .yellow {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(243, 146, 19);
  }
  section main .products .gallery .cards .cards--info .colors .black {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(43, 6, 4);
  }
}
@media only screen and (min-width: 768px) {
  section main {
    display: flex;
    margin: 0 auto;
    width: 80%;
  }
  section main .products {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  section main .products .about {
    text-align: center;
    padding: 50px;
  }
  section main .products .about h5 {
    color: green;
    margin-bottom: 20px;
    font-size: 50px;
  }
  section main .products .about h1 {
    color: rgb(73, 1, 1);
    font-size: 40px;
    line-height: 1;
  }
  section main .products .about p {
    margin: 20px 0;
    opacity: 0.8;
  }
  section main .products .about a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  section main .products .gallery {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    gap: 20px;
  }
  section main .products .gallery .cards {
    margin-top: 50px;
  }
  section main .products .gallery .cards .image img {
    width: 100%;
  }
  section main .products .gallery .cards .cards--info {
    text-align: center;
  }
  section main .products .gallery .cards .cards--info h6 {
    font-size: 30px;
    padding: 10px o;
  }
  section main .products .gallery .cards .cards--info p {
    font-size: 20px;
  }
  section main .products .gallery .cards .cards--info .price {
    font-size: 24px;
    padding: 5px 0;
  }
  section main .products .gallery .cards .cards--info .colors {
    display: flex;
    margin: 0 auto;
    gap: 10px;
  }
  section main .products .gallery .cards .cards--info .colors .blue {
    margin-left: 40px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(17, 203, 216);
  }
  section main .products .gallery .cards .cards--info .colors .green {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
  }
  section main .products .gallery .cards .cards--info .colors .yellow {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(243, 146, 19);
  }
  section main .products .gallery .cards .cards--info .colors .black {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(43, 6, 4);
  }
}
@media only screen and (min-width: 992px) {
  section main {
    display: flex;
    margin: 0 auto;
    width: 80%;
  }
  section main .products {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  section main .products .about {
    text-align: center;
    padding: 50px;
  }
  section main .products .about h5 {
    color: green;
    margin-bottom: 20px;
    font-size: 50px;
  }
  section main .products .about h1 {
    color: rgb(73, 1, 1);
    font-size: 40px;
    line-height: 1;
  }
  section main .products .about p {
    margin: 20px 0;
    opacity: 0.8;
  }
  section main .products .about a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  section main .products .gallery {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    gap: 20px;
  }
  section main .products .gallery .cards {
    margin-top: 50px;
  }
  section main .products .gallery .cards .image img {
    width: 100%;
  }
  section main .products .gallery .cards .cards--info {
    text-align: center;
  }
  section main .products .gallery .cards .cards--info h6 {
    font-size: 30px;
    padding: 10px o;
  }
  section main .products .gallery .cards .cards--info p {
    font-size: 20px;
  }
  section main .products .gallery .cards .cards--info .price {
    font-size: 24px;
    padding: 5px 0;
  }
  section main .products .gallery .cards .cards--info .colors {
    display: flex;
    margin: 0 auto;
    gap: 10px;
  }
  section main .products .gallery .cards .cards--info .colors .blue {
    margin-left: 40px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(17, 203, 216);
  }
  section main .products .gallery .cards .cards--info .colors .green {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
  }
  section main .products .gallery .cards .cards--info .colors .yellow {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(243, 146, 19);
  }
  section main .products .gallery .cards .cards--info .colors .black {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(43, 6, 4);
  }
}/*# sourceMappingURL=main.css.map */